<a href="https://colab.research.google.com/github/evaterry4/DS3001_project/blob/main/College_scorecard.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# prompt: open a csv file from google drive from my data folder

from google.colab import drive
drive.mount('/content/drive')

import pandas as pd

# Replace 'your_file.csv' with the actual name of your CSV file
df = pd.read_csv('/content/drive/MyDrive/data/Most-Recent-Cohorts-Institution.csv')

print(df.head())

Mounted at /content/drive

<ipython-input-2-15f7e44a1959>:9: DtypeWarning: Columns (9,1537,1540,1542,1606,1608,1614,1615,1619,1620,1621,1622,1623,1624,1625,1626,1627,1628,1629,1690,1692,1697,1700,1725,1726,1727,1728,1729,1743,1815,1816,1817,1818,1823,1824,1830,1831,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1909,1910,1911,1912,1913,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1983,1984,2376,2377,2403,2404,2495,2496,2497,2498,2499,2500,2501,2502,2503,2504,2505,2506,2507,2508,2509,2510,2511,2512,2513,2514,2515,2516,2517,2518,2519,2520,2521,2522,2523,2524,2525,2526,2527,2528,2529,2530,2958,3215,3231,3235,3236) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/drive/MyDrive/data/Most-Recent-Cohorts-Institution.csv')

   UNITID      OPEID   OPEID6                               INSTNM  \
0  100654   100200.0   1002.0             Alabama A & M University
1  100663   105200.0   1052.0  University of Alabama at Birmingham
2  100690  2503400.0  25034.0                   Amridge University
3  100706   105500.0   1055.0  University of Alabama in Huntsville
4  100724   100500.0   1005.0             Alabama State University

         CITY STABBR         ZIP  \
0      Normal     AL       35762
1  Birmingham     AL  35294-0110
2  Montgomery     AL  36117-3553
3  Huntsville     AL       35899
4  Montgomery     AL  36104-0271

                                        ACCREDAGENCY  \
0  Southern Association of Colleges and Schools C...
1  Southern Association of Colleges and Schools C...
2  Southern Association of Colleges and Schools C...
3  Southern Association of Colleges and Schools C...
4  Southern Association of Colleges and Schools C...

                              INSTURL  \
0                       www.aamu.edu/
1                https://www.uab.edu/
2  https://www.amridgeuniversity.edu/
3                        www.uah.edu/
4                      www.alasu.edu/

                                              NPCURL  ...  \
0  www.aamu.edu/admissions-aid/tuition-fees/net-p...  ...
1  https://tcc.ruffalonl.com/University of Alabam...  ...
2           https://www2.amridgeuniversity.edu:9091/  ...
3                                    finaid.uah.edu/  ...
4  www.alasu.edu/cost-aid/tuition-costs/net-price...  ...

   COUNT_WNE_MALE0_P11  COUNT_WNE_MALE1_P11  GT_THRESHOLD_P11  \
0                800.0                777.0            0.6250
1               1811.0               1157.0            0.7588
2                 75.0                 67.0            0.5986
3                810.0                802.0            0.7810
4               1224.0               1049.0            0.5378

   MD_EARN_WNE_INC1_P11  MD_EARN_WNE_INC2_P11  MD_EARN_WNE_INC3_P11  \
0               36650.0               41070.0               47016.0
1               47182.0               51896.0               54368.0
2               35752.0               41007.0                   NaN
3               51208.0               62219.0               62577.0
4               32844.0               36932.0               37966.0

   MD_EARN_WNE_INDEP0_P11  MD_EARN_WNE_INDEP1_P11  MD_EARN_WNE_MALE0_P11  \
0                 38892.0                 41738.0                38167.0
1                 50488.0                 51505.0                46559.0
2                     NaN                 38467.0                32654.0
3                 55920.0                 60221.0                47787.0
4                 34294.0                 31797.0                32303.0

   MD_EARN_WNE_MALE1_P11
0                40250.0
1                59181.0
2                49435.0
3                67454.0
4                36964.0

[5 rows x 3305 columns]

In [3]:
#the original data is too big to put on git so I added relevant colunms to a new df (we can always go back and add other ones later)

#ADM_RATE - Acceptance Rate
#PPTUG_EF - The proportion of undergraduate degree/certificate-seeking students enrolled in the fall that are enrolled in a full-time course load.
#GRAD_DEBT_MDN_SUPP - Median Total Debt After Graduation for Loans Taken Out at This School
#PREDDEG - type of degree most frequetly offered
#PCTPELL_DCS_POOLED_SUPP - The percentage of degree/certificate-seeking undergraduate students that receive a federal Pell Grant provides an indication of the level of socio-economic diversity
#STUFACR - Student/Faculty Ratio
#PCTFLOAN_DCS_POOLED_SUPP - The proportion of degree/certificate-seeking undergraduate students that borrowed through federal loan programs to help pay college costs.
#UNITID - school ID
#INSTNM - school name
#ZIP
#STABBR - state
#C150_4 - completion rate (w/in 1.5* expected completion)
#COSTT4_A - yearly cost of attendance
#UG - Enrollment of all undergraduate & degree seaking students
#MD_EARN_WNE_4YR - Median earnings of graduates working and not enrolled 4 years after completing
#CONTROL_PEPS - public vs private
#REGION
#ACTCMMID - midpoint act score
#FEMALE - percent of female students
#FAMINC - average family income

In [16]:
new_df = df[['UNITID', 'INSTNM', 'ZIP', 'CITY', 'STABBR', 'ADM_RATE_SUPP', 'PPTUG_EF', 'GRAD_DEBT_MDN_SUPP', 'PREDDEG', 'PCTPELL_DCS_POOLED_SUPP', 'STUFACR', 'PCTFLOAN_DCS_POOLED_SUPP', 'C150_4', 'COSTT4_A', 'UGDS', 'MD_EARN_WNE_4YR', 'CONTROL_PEPS', 'REGION', 'ACTCMMID', 'FEMALE', 'FAMINC']]
print(new_df.head())

   UNITID                               INSTNM         ZIP        CITY STABBR  \
0  100654             Alabama A & M University       35762      Normal     AL
1  100663  University of Alabama at Birmingham  35294-0110  Birmingham     AL
2  100690                   Amridge University  36117-3553  Montgomery     AL
3  100706  University of Alabama in Huntsville       35899  Huntsville     AL
4  100724             Alabama State University  36104-0271  Montgomery     AL

  ADM_RATE_SUPP  PPTUG_EF GRAD_DEBT_MDN_SUPP  PREDDEG PCTPELL_DCS_POOLED_SUPP  \
0         0.684    0.0778              31000        3                  0.6553
1        0.8668    0.1986              22300        3                  0.3374
2           NaN    0.4342              32189        3                  0.7769
3         0.781    0.1612              20705        3                  0.2235
4         0.966    0.0771              31000        3                  0.6984

   ...  PCTFLOAN_DCS_POOLED_SUPP  C150_4  COSTT4_A     UGDS  MD_EARN_WNE_4YR  \
0  ...                    0.5365  0.2678   23167.0   5196.0          46562.0
1  ...                    0.4214  0.6442   26257.0  12776.0          52404.0
2  ...                    0.5896  0.5000       NaN    228.0          45765.0
3  ...                    0.3511  0.6295   25777.0   6985.0          67695.0
4  ...                     0.768  0.2773   21900.0   3296.0          37551.0

        CONTROL_PEPS REGION  ACTCMMID        FEMALE        FAMINC
0             Public      5      18.0  0.5640301318  32362.826114
1             Public      5      27.0  0.6390907397  51306.674306
2  Private Nonprofit      5       NaN  0.6486486486  21079.472973
3             Public      5      28.0  0.4763499372  61096.588949
4             Public      5      18.0  0.6134185304  31684.382188

[5 rows x 21 columns]

In [18]:
new_df.to_csv('college_data_2022_23.csv', index=False)