<a href="https://colab.research.google.com/github/evaterry4/DS3001_project/blob/main/Train_Test_Split_pt2(with_all_the_variables).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/evaterry4/DS3001_project.git

Cloning into 'DS3001_project'...
remote: Enumerating objects: 120, done.
remote: Counting objects: 100% (120/120), done.
remote: Compressing objects: 100% (116/116), done.
remote: Total 120 (delta 58), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (120/120), 3.07 MiB | 10.44 MiB/s, done.
Resolving deltas: 100% (58/58), done.

In [2]:
import pandas as pd
data = pd.read_csv("DS3001_project/college_data_clean.csv")

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
data.head()

,id,name,zip,city,state,acceptance_rate,part_time,debt,degree_type,pell_grant,...,percent_loans,graduation_rate,yearly_cost,student_pop,earnings,school_type,region,average_act,precent_female,average_income
0,100654,Alabama A & M University,35762,Normal,AL,0.6840,0.0778,31000,3,0.6553,...,0.5365,0.2678,23167.0,5196.0,46562.0,Public,5,18.0,0.5640301318,32362.826114
1,100663,University of Alabama at Birmingham,35294-0110,Birmingham,AL,0.8668,0.1986,22300,3,0.3374,...,0.4214,0.6442,26257.0,12776.0,52404.0,Public,5,27.0,0.6390907397,51306.674306
2,100690,Amridge University,36117-3553,Montgomery,AL,NaN,0.4342,32189,3,0.7769,...,0.5896,0.5000,NaN,228.0,45765.0,Private Nonprofit,5,NaN,0.6486486486,21079.472973
3,100706,University of Alabama in Huntsville,35899,Huntsville,AL,0.7810,0.1612,20705,3,0.2235,...,0.3511,0.6295,25777.0,6985.0,67695.0,Public,5,28.0,0.4763499372,61096.588949
4,100724,Alabama State University,36104-0271,Montgomery,AL,0.9660,0.0771,31000,3,0.6984,...,0.768,0.2773,21900.0,3296.0,37551.0,Public,5,18.0,0.6134185304,31684.382188

In [5]:
nan_count = data.isna().sum()
print(nan_count)

id                    0
name                  0
zip                   0
city                  0
state                 0
acceptance_rate     375
part_time             4
debt                 27
degree_type           0
pell_grant           14
stud_fac_ratio        3
percent_loans        14
graduation_rate     143
yearly_cost         168
student_pop           0
earnings            182
school_type           5
region                0
average_act        1044
precent_female       64
average_income       64
dtype: int64

 Going to get rid of NaN's in acceptance_rate because according to data dictionary they are there becasue school with fewer then 30 students either do not report that info or the dept of education choose to not include it becase it would "dramatically change the rate"

Also getting rid of NaN's in average_act and yearly_cost cause based off data dictionary they are there cause school chose not to report the score.

In [19]:
#print(data['graduation_rate'])

In [18]:
#print(data['average_act'])

In [17]:
#print(data['yearly_cost'])

id
name
zip	city
state
acceptance_rate
part_time
debt
degree_type
pell_grant
stud_fac_ratio
percent_loans
graduation_rate
yearly_cost
student_pop
earnings
school_type	region
average_act
precent_female
average_income

In [20]:
data.columns

Index(['id', 'name', 'zip', 'city', 'state', 'acceptance_rate', 'part_time',
       'debt', 'degree_type', 'pell_grant', 'stud_fac_ratio', 'percent_loans',
       'graduation_rate', 'yearly_cost', 'student_pop', 'earnings',
       'school_type', 'region', 'average_act', 'precent_female',
       'average_income'],
      dtype='object')

In [27]:
#clean the reigon variable based on the data dictionary
region_mapping = {
    0: 'US-service-schools',
    1: 'new-england',
    2: 'mid-east',
    3: 'great-lakes',
    4: 'plains',
    5: 'southeast',
    6: 'southwest',
    7: 'rocky-mountains',
    8: 'far-west'
}

# Map the region codes to region names in the DataFrame
data['region'] = data['region'].map(region_mapping)

In [28]:
data_clean = data.dropna()
y = data_clean['graduation_rate']

# I belive we have to one-hot encode region before the train test split
df = pd.get_dummies(data_clean[['region', 'acceptance_rate','average_act', 'pell_grant','stud_fac_ratio','percent_loans','average_act', 'average_income']],
                   columns=['region'],
                   drop_first=False)  # Keep all categories for interpretability

# Split the sample:
from sklearn.model_selection import train_test_split
df_train, df_test, y_train, y_test = train_test_split(df, y,
                                                    test_size=.2,
                                                    random_state=100)

In [29]:
from sklearn import linear_model
#ols model with all the variables


#X_train1 = pd.get_dummies(df_train, columns=['region', 'acceptance_rate','average_act', 'pell_grant','stud_fac_ratio','percent_loans','average_act', 'average_income'], drop_first=False)
#X_test1 = pd.get_dummies(df_test, columns=['region', 'acceptance_rate','average_act', 'pell_grant','stud_fac_ratio','percent_loans','average_act', 'average_income'], drop_first=False)

reg = linear_model.LinearRegression(fit_intercept=False).fit(df_train,y_train)


y_hat = reg.predict(df_test)

r2_score = reg.score(df_test, y_test)
print(f"R squared score: {r2_score}")

rmse = np.sqrt( np.mean( (y_test - y_hat)**2 ))
print(f"RMSE: {rmse}")

results = pd.DataFrame({'Variable': reg.feature_names_in_, 'Coefficient': reg.coef_})
print(results)

R squared score: 0.7551833769246946
RMSE: 0.08354508634422864
                       Variable  Coefficient
0               acceptance_rate    -0.093258
1                   average_act     0.008368
2                    pell_grant    -0.235818
3                stud_fac_ratio     0.000511
4                 percent_loans    -0.040241
5                   average_act     0.008368
6                average_income     0.000002
7               region_Far West     0.273706
8            region_Great Lakes     0.234844
9               region_Mid East     0.246210
10           region_New England     0.221060
11                region_Plains     0.216125
12       region_Rocky Mountains     0.180851
13             region_Southeast     0.221600
14             region_Southwest     0.210359
15  region_U.S. Service Schools     0.197348